<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="btn btn-primary" [ngClass]="active == 'login' ? 'nav-link-active' : 'nav-link'" id="tab-login"
                  (click)="onTabLogin()">Login</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="btn btn-primary" [ngClass]="active == 'register' ? 'nav-link-active' : 'nav-link'" id="tab-register"
                  (click)="onTabRegister()">Register</button>
        </li>
      </ul>

      <div class="tab-content">

        <div [ngClass]="active == 'login' ? 'tab-pane fade show active' : 'tab-pane fade'">
          <form (ngSubmit)="onSubmitLogin()" #loginForm="ngForm">
            <div class="mb-4">
              <label for="loginName" class="form-label">Username</label>
              <input type="text" id="loginName" name="login" class="form-control" [(ngModel)]="login" minlength="5" required>
              <div *ngIf="loginForm.controls['login'].touched && loginForm.controls['login'].dirty && !loginForm.controls['login'].valid"
                class="alert alert-danger">
                Username is required and should be at least 5 characters.
              </div>
            </div>

            <div class="mb-4">
              <label for="loginPassword" class="form-label">Password</label>
              <input type="password" id="loginPassword" name="password" class="form-control" [(ngModel)]="password"
                pattern="(?=.*[A-Z])(?=.*[!@#$%^&*])(.{8,})" required>
              <div *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].dirty && loginForm.controls['password'].hasError('pattern')"
                class="alert alert-danger">
                Password must contain at least one uppercase letter, one special character, and be at least 8 characters long.
              </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="loginForm.invalid">Sign In</button>
          </form>

          <div *ngIf="loginFailed">
            <div class="modal" tabindex="-1" role="dialog" [ngClass]="{ 'd-block': showModal }">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Login or Password Incorrect!</h5>
                    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>invalid Credentials !!!</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div [ngClass]="active == 'register' ? 'tab-pane fade show active' : 'tab-pane fade'">
          <form (ngSubmit)="onSubmitRegister()" #registerForm="ngForm">
            <div class="mb-4">
              <label for="firstName" class="form-label">First Name</label>
              <input type="text" id="firstName" name="firstName" class="form-control" [(ngModel)]="firstName">
            </div>

            <div class="mb-4">
              <label for="lastName" class="form-label">Last Name</label>
              <input type="text" id="lastName" name="lastName" class="form-control" [(ngModel)]="lastName">
            </div>

            <div class="mb-4">
              <label for="registerLogin" class="form-label">Login</label>
              <input type="text" id="registerLogin" name="login" class="form-control" [(ngModel)]="login">
            </div>

            <div class="mb-4">
              <label for="registerPassword" class="form-label">Password</label>
              <input type="password" id="registerPassword" name="password" class="form-control" [(ngModel)]="password">
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
          </form>

        </div>

      </div>

    </div>
  </div>
</div>
