<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #222;">

  <!-- Button to toggle the navigation menu on small screens -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">

    <!-- Search bar and Cart status in the same line using flex utility classes -->
    <div class="d-flex align-items-center">
      <form class="form-inline my-2 my-lg-0 mr-3">
        <app-search></app-search>
      </form>

        <div class="cart-area d-n" style="margin-left: 50px;">
          <button routerLink="/login" class="btn btn-primary" style="border-radius: 20px;">Login</button>
        </div>

        <div class="cart-area d-n" style="margin-left: 20px;">
          <button routerLink="/members" class="btn btn-primary" style="border-radius: 20px;">Members</button>
        </div>


        <div class="cart-area d-n" style="margin-left: 20px;">
          <button routerLink="/order-history" class="btn btn-primary" style="border-radius: 20px;">Orders</button>
        </div>
      <app-cart-status></app-cart-status>
    </div>

  </div>
</nav>


